<h1>Homepage</h1>

<h3>Featured</h3>

<div id="posts">
  <% @featured_posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<h3>Posts</h3>

<div id="posts">
  <% @active_posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

